.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
.shrink-0{
    flex-shrink: 0;
}
.stretch{
    align-items: stretch;
}
.grow{
    flex-grow: 1;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 1rem;
}
.overflow-auto{
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: end;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}