.card-image:hover .card-play-button{
    display: block;
    
}
.card-image:hover img{
    filter: opacity(.4);
}
.button-section a:hover{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: .6rem 2rem;
    text-decoration: none;
    font-size: 1rem;
}
.nav-song-links:hover,
.side-bar li:hover,
.side-bar-playlist span:hover,
.side-bar-text span:hover,
.nav-bar-child i:hover,
.nav-bar-child h4:hover,
.side-bar .icon-container span:hover{
    color: white;
}

.side-bar .icon-container:hover img {
    filter: opacity(1);
}
.nav-bar-child .play:hover{
    font-size: 2.5rem;
    
}

.nav-song-links:focus .green-border{
    display: block;
    
}

.nav-song-links:focus{
    color: #ADFF2F;
    
   
}
.navigation-song:hover .circle-animation{
    animation: animazionefiga .6s ;
    animation-delay: .2s;  

}
.navigation-song:hover .circle-animation-2{
    animation: animazionefiga .6s ;
    animation-delay: .2s;  

}
.navigation-song:hover .circle-animation-3{
    animation: animazionefiga .6s ;
    animation-delay: .2s;  

}
.navigation-song:hover .circle-animation-4{
    animation: animazionefiga .6s ;
    animation-delay: .2s;  

}
.navigation-song:hover .circle-animation-5{
    animation: animazionefiga .6s ;
    animation-delay: .2s;  

}
.navigation-song:hover .circle-animation-6{
    animation: animazionefiga .6s ;
    animation-delay: .2s;  

}
.nav-song-links:hover{
    border-color: #ADFF2F;
}


.icon-container:focus .green-border-height{
    display: block;
}

.loading-bar:hover .loading-content{
    background-color: #ADFF2F;
}
.loading-bar:hover .green-dot{
    display: block;
}
#home:focus,
#search-bonus:focus,
#home-3:focus{
    text-decoration: none;
    color: #ADFF2F;
}
.simulate-pause:focus .hidden-pause{
    display: block;
}
.simulate-pause:focus .play-hidden{
    display: none;
}
@keyframes animazionefiga{
    0%{
        top: 0;
    }
    55%{
        top: 183px;
    }
    65%{
        top: 183px;
    }
    100%{
        top: 0;
    }
}