.nav-bar-child{
    height: 100px;
    background-color: #282828;
    
}
.nav-bar-left,
.nav-bar-right{
    min-width: 200px;
    padding: 0 .5rem;
}
.nav-bar-img{
    width: 50px;
    aspect-ratio: 1;
}
.nav-bar-img img{
    width: 100%;
}
.nav-bar-description{
    padding: 0 .5rem;
}
.nav-bar-title{
    font-size: 1rem;
    color: white;
}
.nav-bar-subtitle{
    font-size: .5rem;
    color: #A3A3A3;
}
.nav-bar-icon{
    padding-right: .5rem;
}
.nav-bar-icon i{
    color: #A3A3A3;
    padding: 0 .4rem;
}
.loading-bar{
    background-color: #5A5A5A;
    border: 1px solid #282828;
    border-radius: 10px;
}
.loading-content{
    width: 30%;
    height: 3px;
    background-color: white;
}