.side-bar{
    width: 200px;
    background-color: black;
    color: #A3A3A3;
}
.side-bar-logo{
    min-height: 100px;
    
}
.side-bar-icons{
    padding: 0 1rem;
    color: #A3A3A3;
}
.side-bar-logo img{
    width: 60%;
    object-position: center;
    
}
.icon-container{
    height: 2rem;
}
.icon-container img{
    height: 25px;
}
.icon-container span{
    display: block;
    padding-left: .5rem;
    font-size: .8rem;
}
.side-bar-playlist{
    padding: 1rem 1rem;
    color: #A3A3A3;
}
.add-button{
    background-color: #A0A0A0;
}
.side-bar-playlist a {
    padding: .6rem .6rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.side-bar-playlist .row{
    padding: 1rem 0;
}
.side-bar-playlist span{
    display: block;
    padding-left: .5rem;
}
.side-bar-playlist h5{
    color: white;
}
.playlist-ul ul{
    list-style: none;
}
.playlist-ul li{
    padding: .5rem 0;
    font-size: .8rem;
}
.icon-text img{
    height: 25px;
}
.side-bar-text{
    padding: 1rem 1rem;
}
.side-bar-text .round-button{
    text-decoration: none;
    color: #A3A3A3;
}
.round-button i{
    font-size: 8px;
    padding: .1rem;
    text-align: center;
    border: 1px solid #A3A3A3;
    border-radius: 50%;

}
.icon-text{
    padding: .5rem 0;
}
.icon-text span{
    padding: 0 .5rem;
    font-size: .8rem;
}
.jhon-doe-icon i{
    font-size: 20px;
    background-color: #808080;
    color: white;
}
.text span{
    font-size: 15px;
    color: white;
    font-weight: bold;
}