@import url("side-bar.css");
@import url("flex-utility.css");
@import url("song-container.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container propriety */
.app-container{
    height: 100vh;
}
.father{
    height: 100%;
}
.nav-bar-child{
    min-height: 100px;
    background-color: #282828;
}
.main-content-container{   
    background-color: #141922;
}
.button-section{
    min-height: 100px;
    background-color: #080B12;
}
